@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.small-card {
  position: relative;
  display: inline-block; 
  width: 206px;
  height: 122px;
  opacity: 1;
}

.base-icon {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  transition: filter 0.3s ease; 
}

.center-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) contrast(100%);
}

.hover-part {
  position: absolute;
  z-index: 1;
  transition: transform 0.4s ease, filter 0.4s ease;
  pointer-events: none;
}

.hover-top {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hover-left {
  top: 80%;
  left: -0.3%;
  transform: translate(0, -50%);
}

.hover-right {
  top: 80%;
  right: -0.3%;
  transform: translate(0, -50%);
}

.small-card:hover .hover-top {
  transform: translate(-50%, -10px);
}

.small-card:hover .hover-left {
  transform: translate(-10px, calc(-50% + 10px)); 
}

.small-card:hover .hover-right {
  transform: translate(10px, calc(-50% + 10px)); 
}

.card-label {
  display: block;
  margin-top: -50px;
  margin-left: 58px;           
  font-size: 30px;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  font-family: 'VT323', monospace;
  text-shadow: 0 0 10px rgb(255, 254, 254);      
  pointer-events: none;
  transition: text-shadow 0.3s ease;
}

.small-card:hover .card-label {
  text-shadow: none;
}
